META-INF/persistence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://java.sun.com/xml/ns/persistence" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="persistence" type="per:persistenceType" xmlns:per="http://java.sun.com/xml/ns/persistence"/>
  <xs:complexType name="persistenceType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="version"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>